body{
    font-family: lato;
    display: flex;
    background-color: #f5f8f9;
}
.container{
    width: 100%;
    max-width: 960px;
    margin: auto;
}

header{
    float: left;
    width: 35%;
    text-align: center;
    background-color: #3a3c40;
    height:1000px;
}

header .info img{
    width: 140px;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px
}
header .info h1{
    color: #eea31f;
    font-size: 24px;
    font-weight: 700;
    
}
header .info p{
    color: #ffffff;
    font-size: 16px;
    
}
header .info button {
    margin-top: 10px;
    background-color:#f6a623;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 0px 0px #aa7d2c;
    color: #fff;
    cursor: pointer
    
}
header .info ul{
    display: flex;
    justify-content: center;
    
}

header .info ul img{
    width: 26px;
    height: 30px;
    margin-right:5px;
    margin-left: 5px;
    margin-top: 20px;
    float: left
}
header .conhecimento{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
header .conhecimento h2{
    font-size: 16px;
    font-weight: 700;
    color: #eeeeee;
    margin-bottom: 20px;
    
    
}
header .conhecimento p{
    color: #8fa4af;
    font-size: 12px;
    font-weight: 400;
}

.conteudo{
   float: left;
    background-color:#ffffff;
    width: 65%;
    height: 1000px;
    padding: 40px;
    padding-top: 20px;
        
}
.conteudo h2{
    font-size: 18px;
    color: #d0021b;
    font-weight: 900;
    border-bottom: 1px solid #d0021b;
    margin-bottom: 20px
}
.conteudo p{
    color: #666666;
    font-size: 15px;
}
.conteudo .experiencia {
padding-bottom: 110px
    
}
.conteudo .fundador{
    float: left;

}
.conteudo .fundador h3{
    font-size: 17px;
    color: #3a3c40;
    font-weight: 700;
}
.conteudo .fundador small{
    color: #3a3c40;
    font-size: 15px;
    font-weight: 400;
}
.conteudo .fundador span{
    font-size: 15px;
    color: #3a3c40;
    font-weight: 300;
}

.conteudo .paragrafo{
    width: 370px;
    float: right;
    font-size: 15px;
    margin-left: 20px;
    color: #666666;
    
}

@media (max-width: 600px){
   
    
    header{
        width: 100%;
        height: 1100px;
    }
    header .info img {
        width: 300px;
        height: 500px
    }
    .conteudo{
        width: 100%;
        margin-right: 40px;
        
      
    }
    .experiencia{
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    
    
    }
    .conteudo .paragrafo{
       padding-left: 5px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-left: 0px;
        padding-right: 20px
        

            
    }
    .fundador{
        margin-bottom: 20px;
        margin-left: 0px;
    }
}
