body{
     font-family: lato;
    background-color: #f5f8f9
   
}
aside{
    background-color:#3a3c40;
    text-align: center;
    padding: 50px !important;
    
    
}
aside img{
    width: 200px;
    height: 200px
}

aside h1{
    color:#f5a623;
    font-size: 1.5em;
    font-weight: 700;
}

aside h3{
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    
}
aside .button{
    background-color: #f6a623;
    border: none;
    color: #fff;
    font-size: 0.85em !important;
    padding: 20px 30px;
    margin-top: 10px;
    box-shadow: 0px 4px 0px 0px rgba(245,166,35,0.6);
    
    
    
}

aside .icones{
    margin-top: 10px
}

aside .icones i{
    color: #fff;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px
}
aside .conhecimento{
    text-align: left;
    margin-top: 40px
}
aside .conhecimento h2{
    font-size: 1em;
    color: #eeeeee;
    font-weight: 700;
    margin-bottom: 10px
}
aside .conhecimento small{
    font-size: 0.750em;
    font-weight: 400;
    color: #8fa4af;
    
}
.conhecimento progress{
    margin-bottom: 10px
}

.conhecimento progress::-webkit-progress-value{
    background-color: #f6a623 !important;
    margin-bottom: 10px
}
article .content{
    padding: 40px;
    background-color: #fff !important;
   
}
article .content h3{
    color: #d0021b;
    border-bottom: 1px solid #d0021b;
    padding-bottom: 5px
    
    
}
article .content h3 i{
    margin-right: 5px;
}
article .content h4{
    font-size: 1.063em;
    font-weight: 700;
    margin-bottom: 5px;
}
article .content h5{
    font-size: 0.93em;
    margin-bottom: 5px;
}
article .content small{
    font-size: 0.93em;
    font-weight: 300;
    margin-bottom: 5px;
}
article .content p{
    font-size: 0.93em
}